@font-face {
  font-family: "Inter";
  src: url("./assets/Inter.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font: "Inter", sans-serif;
  --color-primary: #272b33;
  --white: #fff;
  --orange: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--color-primary);
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  background-color: var(--white);
  font-size: 3rem;
  text-align: center;
  padding: 1.875rem;
}

h1::selection {
  background-color: var(--color-primary);
  color: var(--orange);
}

section {
  max-width: 62.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 50px 0;
}

@media (width < 64rem) {
  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.25rem;
}

.footer-text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.footer-text::selection {
  background-color: var(--color-primary);
  color: var(--orange);
}
